.content {
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 10px;
  mat-form-field {
    // All Form Fields are using the same Width
    width: 100%;
  }
}

.action {
  padding: 0px 25px 20px;
  button {
    flex: 1;
  }
}
